.container
  %h1 
    WELCOME TO TASK 
    %i.glyphicon.glyphicon-time 
    LIST
  %h3 Objetive
  %h4 Improving my programming skills in ruby on rails. Creating a project that not only helps me to improve, but also can be used as an active project.
  %h4 100% project for practice