// Place all the styles related to the Tasks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
@import "bootstrap-sprockets";
@import "bootstrap";

a:link, a:visited, a:active {
  text-decoration:none;
}

table{
  tbody{
    tr{
      td{
        a{
          padding: .3rem;
          border-radius: 7%;
        }
        .link-delete{
          color: #000000 !important;
          background-color: #ff0000 !important;
        }
        .link-edit{
          color: #000000 !important;
          background-color: #f1ed00 !important;
        }
        .link-delete:hover{
          background-color: #be0000 !important;
          transition: 0.2s ease;
        }
        .link-edit:hover{
          background-color: #b8b500 !important;
          transition: 0.2s ease;
        }
      }
    }
  }
}