// Place all the styles related to the taskstorages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
a:link, a:visited, a:active {
  text-decoration:none;
}

.my-staks{
  color: #fff;
  background-color: #b6b300;
  margin-top: 5px;
  padding: 1rem;
  border-radius: 5%;
}

.container{
  .row{
    .col-md-12{
      margin-top: 5px;
      .link-back{
        color: #000000 !important;
        background-color: #ff0000 !important;
        padding: .6rem;
        border-radius: 10%;
      }
      .link-edit{
        color: #000000 !important;
        background-color: #f1ed00 !important;
        padding: .6rem;
        border-radius: 10%;
      }
      .link-back:hover{
        background-color: #be0000 !important;
        transition: 0.2s ease;
      }
      .link-edit:hover{
        background-color: #b8b500 !important;
        transition: 0.2s ease;
      }
    }
  }
}